@model education.Models.content

<div class="col-sm-12 services-full-width-text wow fadeInLeft">
    <h3>@Model.title</h3>
    <p>
        @Html.Raw(Server.HtmlDecode(Model.introtext))
    </p>
</div>