@model IEnumerable<education.Models.content>
@{
    string updownchecker = "fadeInUp";       
}

<!-- Meet Our Team -->
<div class="team-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 team-title wow fadeIn">
                <h2>More our Events</h2>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-sm-3">
                    <div class="work wow @updownchecker">
                        <img src="~/assets/img/portfolio/@item.image" alt="Lorem Website" data-at2x="~/assets/img/portfolio/@item.image">
                        <h3>@item.title</h3>
                        <p>@item.introtext</p>
                        <div class="work-bottom">
                            <a class="big-link-2 view-work" href="~/assets/img/portfolio/@item.image"><i class="fa fa-search"></i></a>
                            <a class="big-link-2" href="@Url.Action("Details", "News", new { id = item.id})"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                if(updownchecker == "fadeInUp")
                {
                    updownchecker = "fadeInDown";
                }
                else
                {
                    updownchecker = "fadeInUp";
                }
            }
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="testimonials-container">
    <div class="container">

    </div>
</div>